<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DefaultBinPaths" value="{CKSetupAutoTargetProjectBinFolder}" />
    <add key="Monitor/LogToTextFile" value="true" />
    <add key="Monitor/LogToConsole" value="true" />
    <add key="Monitor/LogLevel" value="Debug" />
    <add key="DatabaseName" value="ChartsNite"/>
    <add key="CKSetup/DefaultBinPaths" value="{BinFolder}/publish" />
  </appSettings>

</configuration>
